body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
  }
  
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-form {
   background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
  }
  
  h1 {
    margin-bottom: 20px;
    color: #333;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px; /* Add margin for better spacing */
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .signup-link {
    display: inline-block;
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .signup-link:hover {
    color: #0056b3;
    cursor: pointer;
  }

  .error-toast {
    background-color: #f44336; /* Red background color for error messages */
    color: white; /* White text color */
  }
  
  .success-toast {
    background-color: #4caf50; /* Green background color for success messages */
    color: white; /* White text color */
  }
  
  .warning-toast {
    background-color: #ff9800; /* Orange background color for warning messages */
    color: white; /* White text color */
  }